# -- Tiny settings
TINY_APP_DIR=app
TINY_AUTOLOAD_HELPERS=cypher,utils
TINY_CALC_TIMER=true
TINY_COOKIE_TTL=31536000
TINY_CURL_TIMEOUT=5
TINY_DEBUG_WHITELIST="*" # only show debug info to these ips (comma separated)
TINY_DIR=tiny # location of "tiny" directory
TINY_HOMEPAGE=home
TINY_LOG_FILE=/path/to/tiny.log
TINY_LOG_TYPE=debug
TINY_MINIFY_OUTPUT=false # minify html output
TINY_STATIC_DIR=static # location of "static" directory (cdn url or path relative to index.php)
TINY_TIMEZONE=UTC

# -- Set these if not automatically detected
# TINY_APP_PATH=/path/to/app
# TINY_COOKIE_DOMAIN=localhost
# TINY_COOKIE_PATH=/
# TINY_PATH=/path/to/tiny
# TINY_PUBLIC_PATH=/path/to/public
# TINY_URL_PATH=/

# -- Sentry settings
# SENTRY_DSN=
# SENTRY_FRONTEND=

# ---------------------------
# Tiny module settings
# ---------------------------

# -- Cypher
CRYPTO_ALGO=aes-256-cbc
CRYPTO_SECRET=sk_xxxxxx
CRYPTO_TTL=60

# -- Geo module settings
# GEO_GEOIP2_CITY_PATH=path/to/GeoIP2-City.mmdb
GEO_SUPPORTED_CURRENCIES=USD
GEO_UNSUPPORTED_COUNTRIES=BY,CU,IR,LY,MM,KP,RU,SY,VE,ZW

# -- DB settings
DB_AUTOCONNECT=true
DB_TYPE=mysql
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SSL_MODE=preferred
DB_PERSISTENT=true

# -- Clickhouse
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_HTTPS=true
CLICKHOUSE_TIMEOUT=30

# -- S3/Spaces
# S3_REGION=nyc3
# S3_ENDPOINT=https://nyc3.digitaloceanspaces.com
# S3_BUCKET=
# S3_KEY=
# S3_SECRET=
# S3_REDUCED_REDUNDANCY=false
# S3_PATH_PREFIX=
# S3_CDN=
# DO_CDN_ID= # for purging data from cdn
# S3_CLOUDFRONT_DISTRIBUTION=E2ZQZQZQZQZQZQ

# -- Stripe
STRIPE_MULTI_CURRENCY=false
STRIPE_PK=pk_xxxxxx
STRIPE_SK=sk_xxxxxx
STRIPE_VERSION=2025-02-24.acacia
STRIPE_WEBHOOK_SIGNATURE=whsec_xxxxxx

# -- Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=mg.alerts.refinerymail.com
MAILGUN_FROM_ADDRESS=no-reply@alerts.refinerymail.com
MAILGUN_FROM_NAME="Campaign Refinery"

# -- Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGE_SERVICE_ID=
TWILIO_FROM_NUMBER=

# ---------------------------
# App settings
# ---------------------------

# -- Misc settings
APP_SOME_VAR1=1
APP_SOME_VAR2=2
APP_SOME_VAR3=3
